<h2>退会確認</h2>
<p>過去のご注文の内容、お客様のご登録情報が全て削除されます。<br>
ご注文が完了していない方は、ご注文の完了後に再度お手続きをお願いいたします。</p>
<h3>本当に退会なさいますか?</h3>
<%= link_to "はい", public_withdraw_path %><br>
<%= link_to "いいえ", public_my_page_path %>